$main-background: #e7f0f3;
$desktop-bp: 1000px;
$font: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: $font;
    background: $main-background;
    header{
        .top-cont{
            background: #202c34;
            h1 {
                font-size: 3rem;
                padding: 15px;
                color: white;
            }
        }
    }

    main {
        text-align: center;
        h1{
            font-size: 40px;
            padding: 2%;
        }
        ul{
            border: black 1px outset;
            background: white;
            margin: 5%;
            .heading{
                h2{
                    font-size: 30px;
                }
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
            }
            li{
                p {
                    padding: 1.5%;
                    text-align: start;
                }
                padding: 2%;
                width: 70%;
                margin: auto;
            }
        }
    }
}

