$main-background: #e7f0f3;
$heading-background: #202c34;
$desktop-bp: 1000px;
$font: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: $font;
    background: $main-background;
    header{
        .top-cont{
            background: $heading-background;
            h1 {
                font-size: 3rem;
                padding: 15px;
                color: white;
            }
        }
    }

    main {
        text-align: center;
        
        ul{
            border: black 1px outset;
            background: white;
            margin: 5%;
            padding: 1%;
            li{
                h1{
                    font-size: 40px;
                    padding: 2% 0;
                    font-family: 'Lora', serif;
                    text-align: left;
                }
                h3 {
                    text-align: right;
                }
                img {
                    width: 100%;
                }
                p {
                    padding: 1.5% 0;
                    line-height: 1.5rem;
                    text-align: start;
                }
                padding: 2%;
                width: 70%;
                margin: auto;
                border-bottom: grey 1px solid;
            }
        }
    }

    footer{
        background: $heading-background;
        color: white;
        padding: 2%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

