<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jin's BlogPost</title>
    <link href="./style/reset.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-cont">
            <h1>Jin's Blog</h1>
        </div>
    </header>
    <main>
        <ul>
            <% for(let i = bpost.length - 1; i >= 0; i--) { %>
                <li>
                    <div>
                        <h1><%= bpost[i].title %></h1>
                        <h3><%= bpost[i].date %></h3>
                    </div>
                    <img src="<%= bpost[i].image %>">
                    <p><%- bpost[i].content %></p>
                </li>
            <% } %>
        </ul>
    </main>
    <footer>
        <p>Copyright Jin Kim</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>