<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jin's BlogPost</title>
    <link href="./style/reset.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-cont">
            <h1>Blog Post</h1>
        </div>
    </header>
    <main>
        <ul>
            <h1>Posts</h1>
            <% bpost.forEach(post => { %>
                <li>
                    <div class="heading">
                        <h2><%= post.title %></h2>
                        <h3><%= post.date %></h3>
                    </div>
                    <p><%= post.content %></p>
                </li>
            <% }) %>
        </ul>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>